.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-task {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.box-title {
  padding: 15px;
  font-weight: 700;
  background-color: #dedfe1;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card-task {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.bg-progress {
  background-color: #fff1ca !important;
}

.bg-eval {
  background-color: #caf2fa !important;
}

.bg-done {
  background-color: #cce3d9 !important;
}